version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

jobs:
  test:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Instalar dependencias
          command: |
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Ejecutar pruebas
          command: pytest --cov=backend --cov-report xml:coverage.xml
      - run:
          name: Ejecutar linting
          command: flake8 .
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: coverage.xml
      - sonarcloud/scan  # Aquí eliminamos los argumentos
      - setup_remote_docker  # Necesario para la integración de Docker
      - run:
          name: Build Docker image
          command: docker build -t mi-app:latest .
      - run:
          name: Test Docker image
          command: docker run --rm mi-app:latest pytest

workflows:
  test:
    jobs:
      - test

